.product-card:hover {
    transform: translateY(-6px)
}

.product-actions {
    opacity: 0;
    transition: opacity 250ms ease;
}

.product-card:hover .product-actions {
    opacity: 1;
}

.product-img:hover {
    transition: opacity 250ms ease-out;
    transition-delay: 100ms;
}

.product-list {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.product-card {
    background: lightgray;
    padding: 40px;
}

.product-card:first-child {
    grid-column: span 2;
    position: relative;
}

.product-card:first-child::before {
    content: "Хіт продажів";

    position: absolute;
    top: 10px;
    left: 10px;

    background: crimson;
    color: white;

    padding: 6px 12px;
    border-radius: 6px;

    font-size: 14px;
}

.action-btn {
    background: #222;
    color: white;

    border: none;
    border-radius: 8px;

    padding: 10px 16px;

    cursor: pointer;

    transition: 
        background 0.25s ease,
        transform 0.15s ease;
}

.action-btn:hover {
    background: #444;
    transform: translateY(-2px);
}